html,
body {
    height: 100%;
    font-size: 16px;
    background: url(../img/pattern.jpg) center center;
    font-family: 'Cubano-Regular';
} 

/* FONT FACE */
@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}

/* Section Cover Page */
#cover {
    height: 100%;
    background: url('../img/trees.jpg') center center;
    background-size: cover;
    color: white;       
}

.wall-sticker {
    padding:5rem 20rem 5rem 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Cubano-Regular';
    font-size: 5rem;
    color: white;
}

.moto {
    font-family: 'Cubano-Regular';
    margin-top: 15rem;
    margin-left: 17rem;
    text-align: center;
    font-size: 3rem;
}

/* BUTTONS */
.btn-lg {
    background-color: transparent;
    border: 1px solid rgba(19, 128, 26, 1);
    border-radius: 5px;
    transition: background-color 0.5s;
    font-family: 'Nunito-Regular';
}

.btn-lg:hover,
.btn-lg:active,
.btn-lg:focus {
    background-color: rgba(19, 128, 36, 0.4);
    border: 1px solid transparent;
    transition: background-color 0.5s;
}

.fa-arrow-down {
    margin-left: 35rem;
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    transition: 0.4s;
}

.fa-arrow-down:hover {
    color: rgba(19, 128, 36, 0.8);
    transition: 0.4s;
}

/* SPANS */
.bold-green {
    color: rgba(19, 128, 36, 0.9);
}

.green-underline {
    border-bottom: 1px solid rgba(19, 128, 36, 0.9);
}